* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: beige;
  font-family: sans-serif;
  font-weight: 40;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 3rem;
  right: 3rem;
  text-decoration: none;
  list-style: none;
}

.openBtn {
  background-color: green;
  border-radius: 3rem;
  padding: 10px;
  border: none;
}

.openBtn:hover {
  background-color: lightgray;
  color: red;
}

a {
  text-decoration: none;
}

.logo {
  position: absolute;
  width: 120px;
  top: 3rem;
  left: 5rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav-item {
  margin-left: 4rem;
}

header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: fixed;
  background-color: aliceblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem 5rem;
  max-width: 60rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.input-form {
  width: 130px;
  padding: 3px;
  text-align: center;
  margin-top: 2px;
}

.label-form {
  font-size: 10px;
  font-style: bold;
  margin-top: 2px;
}
.header-title {
  flex: 1;

  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
}

.img-header {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
}

.learnMore-btn {
  border: none;
  background-color: beige;
  color: rgb(52, 121, 52);
  font-size: 15px;
  font-weight: 100;
  margin-left: 3rem;
}

.learnMore-btn:hover {
  color: red;
}

.form-createAccount {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
}

.closeBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 30px;
}

.closeBtn:hover {
  background-color: red;
  color: white;
  width: 35px;
  border: none;
  border-radius: 0.5rem;
  height: 20px;
}

.form-nxtBtn {
  position: absolute;
  bottom: 1rem;
  margin-left: 6rem;
  padding: 10px;
  background-color: green;
  border: none;
  border-radius: 1rem;
  color: aliceblue;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  display: none;
}

.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.features__img {
  width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(105, 212, 212);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: rgb(112, 207, 176);
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}
